Flask>=3.0.0
Flask-Cors>=4.0.0
Flask-SQLAlchemy>=3.1.1
Flask-Migrate>=4.0.5
Flask-JWT-Extended>=4.6.0
Flask-Bcrypt>=1.0.1
Flask-Mail>=0.9.1
APScheduler>=3.10.4
marshmallow>=3.20.2
python-dotenv>=1.0.1
pandas>=2.1.0
numpy>=1.26.0
mlxtend>=0.23.1
pyarrow>=15.0.0
openpyxl>=3.1.2
reportlab>=4.1.0
matplotlib>=3.8.0
Werkzeug>=3.0.0
SQLAlchemy>=2.0.25
